/* SplitPane styles */
.split-pane {
  position: relative;
  overflow: hidden;
}

.pane {
  position: absolute;
  outline: none;
}

.vertical.pane {
  top: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.pane1 {
  left: 0;
}

.vertical .pane1 {
  right: 10px;
}

.pane2 {
  right: 0;
  width: 100%;
}

.vertical .pane2 {
  left: 11px;
}

.resizer {
  position: absolute;
  background: #000;
  opacity: 0.2;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.vertical .resizer {
  cursor: ew-resize;
  width: 10px;
  height: 100%;
  left: calc(50% - 5px);
}
/* App.css or another CSS file */
.Resizer {
  background: #888;
  opacity: 0.5;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.Resizer:hover {
  transition: all 0.2s ease;
}

.Resizer.vertical {
  width: 10px;
  border-left: 2px solid #aaa;
  border-right: 2px solid #aaa;
  cursor: ew-resize;
  margin-left: -5px;
  margin-right: -5px;
}

.Resizer.horizontal {
  height: 10px;
  border-top: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  cursor: ns-resize;
  margin-top: -5px;
  margin-bottom: -5px;
}

.Pane {
  display: flex;
  flex: 1;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.LoadingContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
}

.InterLoad {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 13;
}

@keyframes rectAnimation {
  0% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
  40% {
    transform: scaleY(0.4);
  }
  100% {
    transform: scaleY(0.4);
  }
}

.Loading_sub, .Loading1, .Loading2, .Loading3, .Loading4, .Loading5 {
  background: #f1f1f1;
  display: inline-block;
  height: 60px;
  width: 7px;
  margin: 0 1px;
  animation: rectAnimation 1.3s infinite ease-in-out;
}

.Loading2 {
  animation-delay: -1.2s;
}

.Loading3 {
  animation-delay: -1.1s;
}

.Loading4 {
  animation-delay: -1s;
}

.Loading5 {
  animation-delay: -0.9s;
}

.CardContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 16px 16px;
  gap: 16px;
  width: 400px;
  background: #ffffff;
  border: 1px solid #efefef;
  box-shadow: 0px 2px 6px rgba(24, 24, 28, 0.06),
    0px 32px 41px -23px rgba(24, 24, 28, 0.07);
  border-radius: 7px;
}

.CardContainer.no-head {
  display: grid;
  grid-template-columns: 24px 1fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 16px;
}

.CardContainer.no-head .close {
  display: none;
}

.CardContainer.no-head .card-header {
  grid-area: 1 / 1 / 2 / 2;
}

.CardContainer.no-head .card-body {
  grid-area: 1 / 2 / 3 / 3;
}

.CardContainer.no-head .card-footer {
  grid-area: 2 / 2 / 3 / 3;
}

.CardContainer .card-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.CardContainer .card-footer {
  display: flex;
  width: 100%;
  gap: 12px;
  align-items: center;
}

.Paragraph {
  color: #5f5f61;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.AlertStrong {
  font-weight: 600;
  color: #222124;
}

.SubmitBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
  padding: 0px 14px;
  gap: 8px;
  background: #ffffff;
  width: 100%;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 3px 4px -5px rgba(24, 24, 28, 0.03), 0px 1px 2px rgba(24, 24, 28, 0.04);
  border-radius: 7px;
  letter-spacing: -0.05px;
  color: #222124;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.Button.btn-primary {
  border-color: #2080f7;
  background: #2080f7;
  color: #fff;
}

.AlertContainer {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}